@import "variables";
.secondary-header {
    margin-top: 60px;
    background: url('../../media/lavish-banner.jpg') no-repeat center;
    background-size: auto 100%;
    width: 100%;
    height: 200px;
    border-bottom: solid grey 1px;
}

.hair-example-container {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hair-example-wrapper {
    display: inline-block;
    width: 190px;
    padding: 15px;
}

.hair-example-wrapper p,
h4 {
    white-space: pre-wrap;
}

.services-table {
    width: 100%;
}

.services-table th {
    border: solid black 1px;
    padding: 5px;
}

.services-table td {
    padding: 5px;
}

.services-table tr:nth-child(even) {
    background-color: lighten($themeColour, 7%);
}