// variabels 
$themeColour: rgb(253, 216, 223);
$themeColourAlpha: rgba(253, 216, 223, 0.5);
// colours, fonts, sizes
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import './services';
@import './navigation';
@import './assets';
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: white;
}

body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

// overiding sass
.modal-dialog {
    top: 15vh;
}

// loading screen
.loading-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

// back to top
.back-to-top {
    width: 37px;
    height: 42px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    backdrop-filter: blur(16px);
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid white 1px;
    box-shadow: 3px 6px 6px 1px rgba(0, 0, 0, 0.1);
}

.back-to-top i {
    position: relative;
    right: 1px;
}

.hair-by-amanda {
    font-family: 'Alex Brush', cursive;
}

p,
a {}

li {
    font-family: 'Slabo 27px', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

.text-small {
    font-size: 12px;
}

.text-flexend {
    text-align: end;
}

.text-theme-colour {
    color: darken($themeColour, 20%);
}

.text-weight-light {
    font-weight: 200;
}

li:hover {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

.max-width {
    max-width: 1150px;
}

// page container and alpha over
.page-container {
    overflow-x: hidden;
    display: block;
    box-shadow: 2px 0px 17px 0px rgba(0, 0, 0, 0.35);
    min-height: 100vh;
    background-color: white;
}

.alpha-svg {
    position: fixed;
    top: 0;
}

.alpha-circle {
    position: fixed;
    top: 0;
}

// landing page
.landing-page-header {
    padding-top: 50px;
    background: url('../../media/background-2.png') no-repeat;
    background-size: auto 100%;
    background-position: 30% 30%;
    height: 102vh;
    width: 100w;
    position: relative;
    background-attachment: scroll;
}

.reviews-background {
    background: url('../../media/reviews.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-position-y: 30%;
    background-size: cover;
    background-attachment: scroll;
}

.landing-page-header h1 {
    margin-top: 40px;
    font-size: 80px;
}

.landing-page-header p {
    font-size: 25px;
    position: relative;
    bottom: 15px;
}

.main-title {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 10vh;
}

.header-bottom {
    position: absolute;
    bottom: -4px;
    right: -1px;
    left: -1px;
}

// main section
.small-image {
    border-radius: 10px;
}

.image-shadow {
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.05);
}

// book now callout
.book-now-background {
    background: url('../../media/book-now-background.png') no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.dark-alpha-background {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}

.create-appointment {
    font-size: 35px;
}

.book-now-top {
    position: absolute;
    top: -6px;
    left: -2px;
    right: -2px;
}

.book-now-bottom {
    position: absolute;
    bottom: -2px;
    left: -2px;
    right: -2px;
}

// review section 
.more-button {
    cursor: pointer;
}

.light-alpha-background {
    background-color: rgba(250, 250, 250, 0.7);
}

// footer
footer {
    border-top: solid rgb(170, 170, 170) 1px;
    background-color: lighten($themeColour, 7%);
}

footer {
    font-size: 0.8rem;
}

.footer-table {
    width: 100%;
}

.footer-table tr {
    width: 100%;
    height: 28px;
    border-top: solid rgb(197, 197, 197) 1px;
}

.footer-table tr:last-of-type {
    width: 50%;
    border-bottom: solid rgb(197, 197, 197) 1px;
}

.footer-table td:first-of-type {
    width: 30%;
}

// media quiers
// width
@media only screen and (min-width: 768px) {
    .create-appointment {
        font-size: 50px;
    }
    .fixed-top-menu {
        padding-top: 8px;
        padding-bottom: 8px;
        background: none;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
    }
    .desktop-menu-container li {
        color: white;
        font-size: 1.2rem;
        font-weight: 100;
        transition: 0.8s;
    }
    a {
        color: white;
    }
    .desktop-menu-container li:hover {
        transform: scale(1.1);
        color: $themeColour;
    }
    .landing-page-header {
        background-size: 100% auto;
    }
}

@media only screen and (min-width: 1100px) {
    .landing-page-header h1 {
        font-size: 120px;
    }
    .landing-page-header p {
        font-size: 34px;
    }
    .main-bookings-button-wrapper p {
        font-size: 28px;
    }
    .secondary-header {
        height: 300px;
    }
}

// height
@media only screen and (min-height: 768px) {
    .alpha-svg {
        top: 768px;
    }
    .book-now-background {
        height: 50vh;
    }
}