// colours, fonts, sizes
$themeColour: rgb(253, 216, 223);
$themeColourAlpha: rgba(253, 216, 223, 0.5);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: white;
}

body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255);
}

html {
    scroll-behavior: smooth;
}

// loading screen
.loading-container {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 1);
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hair-by-amanda {
    font-family: 'Alex Brush', cursive;
}

p,
a {}

li {
    font-family: 'Slabo 27px', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
}

.text-small {
    font-size: 12px;
}

.text-flexend {
    text-align: end;
}

.text-theme-colour {
    color: darken($themeColour, 20%);
}

.text-weight-light {
    font-weight: 200;
}

li:hover {
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

// icons
.fas {
    width: 15px;
    margin-right: 15px;
    color: black;
}

.fab:hover {
    cursor: pointer;
}

.fa-facebook-square {
    color: white;
}

.fa-facebook-square:hover {
    color: #3b5998;
    transform: scale(1.2);
}

.fa-star {
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(255, 255, 194)), to(rgb(255, 220, 105)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    margin-right: 2px;
    width: 20px;
}

.max-width {
    max-width: 1200px;
}

.small-icon {
    font-size: 22px;
}

// buttons
.secondary-button {
    background: linear-gradient($themeColour, darken($themeColour, 5%));
    padding: 7px;
    border: none;
    border-radius: 5px;
}

.book-now {
    border: solid white 3px;
    background: rgba(255, 228, 212, 0.5);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 6px 10px;
    font-weight: 700;
}

.icon-container {
    box-shadow: 0px 0px 5px 1px rgba(250, 250, 250, 0.5);
    height: 40px;
    width: 40px;
    padding: 3px;
    background-color: white;
    border-radius: 50%;
}

.icon-container img {
    position: relative;
    top: 3px;
}

// navigation
.page-alpha {
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
}

.fixed-top-menu {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(16px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
}

.logo {
    margin-left: 25px;
    display: inline-flex;
    align-items: center;
    float: left;
    width: 53px;
    height: 53px;
    background: url(../../svg/logo.svg);
    background-size: 53px 53px;
}

.mobile-logo {
    margin-left: 12px;
    margin-top: 8px;
    display: inline-flex;
    align-items: center;
    float: left;
    width: 35px;
    height: 35px;
    background: url(../../svg/logo.svg);
    background-size: 35px 35px;
}

.page-active {
    background-color: rgb(255, 255, 255);
}

.page-active .fas {
    color: $themeColour;
}

.page-active img {
    color: $themeColour;
}

.menu-lists-container {
    background: linear-gradient($themeColour, lighten($themeColour, 10%));
    position: fixed;
    height: 100vh;
    width: 50vw;
    top: 0;
    right: -50vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.bottom-menu-container {
    position: absolute;
    bottom: 0;
}

.bottom-menu-container p {
    display: block;
}

// navigation button
.menu-button-container {
    width: 30px;
    cursor: pointer;
    position: relative;
    float: right;
    margin: 12px;
}

.menu-button-container .rectangle {
    margin-top: 4px;
    margin-bottom: 4px;
    height: 4px;
    width: 100%;
    background-color: black;
    border-radius: 3px;
}

.scissor-1 {
    width: 25px;
    height: 25px;
    background: url(../../svg/scissors-1.svg);
    background-size: 25px 25px;
    z-index: 8;
    top: 2px;
    position: absolute;
    transform: rotateZ(-40deg);
    left: 4px;
    opacity: 0;
}

.scissor-2 {
    width: 25px;
    height: 25px;
    background: url(../../svg/scissors-2.svg);
    background-size: 25px 25px;
    z-index: 9;
    top: 2px;
    position: absolute;
    transform: rotateZ(40deg);
    left: 4px;
    opacity: 0;
}

// navigation items
.menu-logo-container {
    height: 200px;
    background-color: lighten($themeColour, 7%);
    border-bottom: solid lighten($themeColour, 25%) 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-topper p {
    position: relative;
    bottom: 6px;
}

.menu-logo {
    background: url(../../media/menu-logo.png) no-repeat center;
    border: solid lighten($themeColour, 7%) 2px;
    background-size: 100% auto;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 15px 1px rgba(255, 255, 255, 0.5);
}

.menu-mobile-items {
    margin: 0;
    display: block;
    padding: 0;
    list-style: none;
}

.menu-mobile-items li {
    padding: 17px;
    border-bottom: solid lighten($themeColour, 25%) 1px;
}

.desktop-menu-container {
    margin: 0;
    display: inline-flex;
    justify-content: center;
}

.desktop-menu-container li {
    display: inline-block;
    padding: 14px 22px;
    margin-right: 10px;
    font-weight: 700;
}

.page-active-desktop {
    text-decoration: underline;
}

.desktop-menu-container li .fas {
    margin-right: 9px;
}

// page container and alpha over
.page-container {
    overflow-x: hidden;
    display: block;
    box-shadow: 2px 0px 17px 0px rgba(0, 0, 0, 0.35);
    min-height: 100vh;
    background-color: white;
}

.alpha-svg {
    position: fixed;
    top: 0;
}

.alpha-circle {
    position: fixed;
    top: 0;
}

// landing page
.landing-page-header {
    padding-top: 50px;
    background: url('../../media/background-2.png') no-repeat;
    background-size: auto 100%;
    background-position: 30% 30%;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-attachment: fixed;
}

.reviews-background {
    background: url('../../media/reviews.png');
    background-color: rgba(0, 0, 0, 0.5);
    background-position-y: 30%;
    background-size: cover;
    background-attachment: fixed;
}

.landing-page-header h1 {
    margin-top: 40px;
    font-size: 80px;
}

.landing-page-header p {
    font-size: 25px;
    position: relative;
    bottom: 15px;
}

.main-title {
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 10vh;
}

// booking button
.main-bookings-button-container {
    position: absolute;
    top: 78vh;
    left: 0;
}

.main-bookings-button-wrapper {
    position: relative;
    width: 190px;
    height: 45px;
}

.main-bookings-button-wrapper p {
    transition: 1s;
}

.main-bookings-button {
    background-color: rgba(248, 248, 248, 0.6);
    border: solid rgb(236, 236, 236) 3px;
    position: absolute;
    left: 0;
    height: 45px;
    width: 190px;
    transform: skew(18deg);
    transition: 0.5s;
    box-shadow: 0px 0px 15px 15px rgba(250, 250, 250, 0.2);
}

.main-bookings-button-wrapper:hover {
    cursor: pointer;
}

.main-bookings-button-wrapper:hover .main-bookings-button {
    transform: skew(-18deg);
}

.main-bookings-button-wrapper:hover .booking-icon-container {
    background-color: white;
    box-shadow: 0px 0px 43px 1px rgba(250, 250, 250, 0.95);
}

.main-bookings-button-wrapper:hover p {
    top: 0px;
    transform: scale(1.1);
}

.booking-icon-container {
    box-shadow: 3px 3px 7px 1px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -17px;
    top: -7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid rgb(236, 236, 236) 3px;
    background-color: lighten($themeColour, 5%);
    border-radius: 50%;
    width: 62px;
    height: 62px;
    transition: 1s;
}

.booking-icon-container img {
    position: relative;
    right: 2px;
}

.main-bookings-button-wrapper p {
    position: absolute;
    top: 4px;
    right: 28px;
    font-family: 'Slabo 27px', serif;
}

// main section
.small-image {
    border-radius: 50%;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.28);
}

// book now callout
.book-now-background {
    background: url('../../media/book-now-background.png') no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-alpha-background {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
}

.create-appointment {
    font-size: 35px;
}

// review section 
.more-button {
    cursor: pointer;
}

.light-alpha-background {
    background-color: rgba(250, 250, 250, 0.7);
}

// footer
footer {
    border-top: solid rgb(170, 170, 170) 1px;
    background-color: lighten($themeColour, 7%);
}

footer {
    font-size: 0.8rem;
}

.footer-table {
    width: 100%;
}

.footer-table tr {
    width: 100%;
    height: 28px;
    border-top: solid rgb(197, 197, 197) 1px;
}

.footer-table tr:last-of-type {
    width: 50%;
    border-bottom: solid rgb(197, 197, 197) 1px;
}

.footer-table td:first-of-type {
    width: 30%;
}

// media quires
// treatments
.secondary-header {
    margin-top: 60px;
    background: url('../../media/lavish-banner.jpg') no-repeat center;
    background-size: auto 100%;
    width: 100%;
    height: 200px;
}

// media quiers
// width
@media only screen and (min-width: 768px) {
    .create-appointment {
        font-size: 50px;
    }
    .fixed-top-menu {
        padding-top: 8px;
        padding-bottom: 8px;
        background: none;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
    }
    .desktop-menu-container li {
        color: white;
        font-size: 1.2rem;
        font-weight: 100;
        transition: 0.8s;
    }
    a {
        color: white;
    }
    .desktop-menu-container li:hover {
        transform: scale(1.1);
        color: $themeColour;
    }
    .landing-page-header {
        background-size: 100% auto;
    }
}

@media only screen and (min-width: 1100px) {
    .landing-page-header h1 {
        font-size: 120px;
    }
    .landing-page-header p {
        font-size: 34px;
    }
    .main-bookings-button-wrapper p {
        font-size: 28px;
    }
    .secondary-header {
        height: 300px;
    }
}

// height
@media only screen and (min-height: 768px) {
    .alpha-svg {
        top: 768px;
    }
}

// customer scroll bar 

/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: linear-gradient(270deg, rgb(231, 231, 231) 0%, rgba(255, 255, 255, 1) 100%);
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(270deg, darken($themeColour, 10%) 0%, lighten($themeColour, 5%) 100%);
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: darken($themeColour, 15%);
    cursor: pointer;
}